<%- include ('../header.ejs') %>

<div class="table_container">
    <div class="table_content">
        <table id="tasksList">
            <!-- COLUNAS DA TABELA -->
            <thread>
                <tr>
                    <th class="create-button"><a class="link" href="/task/create"></a></th>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Prazo</th>
                    <th> </th>
                </tr>
                <tbody>
                    <!--FUNÇÃO PRA DETECTAR O JAVASCRIPT (se job for diferente de 0 (ou seja, se houver algum dado), forEach para cada linha pegar o conteúdo)-->
                    <% if ( tasks !='' ) { tasks.forEach((row, index)=> { %>
                    <!-- LINHAS DA TABELA -->
                    <tr class="newTaskAdded">
                        <td>

                        </td>
                        <td>
                            <%= row.id %>
                        </td>
                        <td>
                            <%= row.descricao %>
                        </td>
                        <td>
                            <%= row.status %>
                        </td>
                        <td>
                            <%= row.data_conclusao %>
                        </td>
                        <td>
                            <!--adcionar botão de editar-->
                            <!--adicionar botão de deletar-->
                        </td>
                    </tr>
                    
                    <% })} %>
                </tbody>
            </thread>
        </table>
        <!--SE FOR VAZIO-->
        <% if (tasks=='') { %>
            <h1 class="no-task-text">
                Nenhuma tarefa foi encontrada! :(
            </h1>
        <% } %>
    </div>
</div>

<%- include('../footer.ejs') %>